.about_header {
    font-size: 100px;
    color: aqua;
}

.page_about {
    background-color: rgb(143, 255, 179);
    background-image: url('/jarthur_pattern.png');
    background-size: 250px;
    background-repeat: repeat;
}
