.big {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(65, 179, 255, 0.8);
    width: 80%;
    margin:  20px;
    border: 20px solid ;
    padding: 15px;
    border-image: url('/border_2.png') 20% round;
    outline-style: solid;
    outline-color: rgba(65, 179, 255, 0.8);
    outline-width: 10px;
    border-radius: 5px;
}