.slogan {
    outline-style: solid;
    outline-color: rgb(255, 217, 2);
    outline-width: 10px;
    border-radius: 25px;
    border: 10px solid transparent;
    padding: 15px;
    border-image: url('/border_1.png') 30 stretch;
}
