.navigation {
    display: flex;
    justify-content: space-evenly;
    max-width: 500vw;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 119, 241);
    border: 2px solid rgb(168, 96, 96);
    border-radius: 5px;
    padding: 5px;
    color: aqua;
  }

  .link {
    display: flex;
    justify-content: center;
    width: 20vw;
  }

.link:hover {
    background-color: rgb(42, 67, 255);
  }